<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
        <nav class="navigation">
            <ul>
              <li><a href="/">View All Tasks</a></li>
              <li><a href="/add">Add a New Task</a></li>
            </ul>
          </nav>   
    </header>
    <main>
      <p><%= error %></p>
    </main>
  </body>
</html>
