/* should contain any general styling on top of what is provided by a reset.css or normalize.css file
1. Apply to elements such as body and main
2. Examples include styling of overall font and background color */

@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');

* {
  font-family: times;
}

body {
  background: #fff;
}

main p {
  color: #333;
  font-size: 1.2em;
  line-height: 1.3em;
  text-indent: 30px;
  margin: 20px 0px;
}

hr {
  clear: both;
  border: 0;
  height: 13px;
  background-image: url('../img/hr.png');
}

h2 {
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}