#logo {
    float: left;
    padding-bottom: 25px;
    color: black;
    text-decoration: none;
  }

#slogan {
    width: 250px;
    padding-left: 55px;
    color: #a3a4a2;
    font-family: 'Abel', sans-serif;
    font-size: .65em;
    text-transform: uppercase;
  }